<footer class="page-footer" id="loiterFooter">
            <div class="container">
              <div class="row topFooter">
                <div class="col s6">
                  <h5 class="white-text">About</h5>
                  <p class="grey-text text-lighten-4">Not affiliated with Seat Geek.</p>
                </div>
                <div class="col s4 offset-l2" id="authorsFooterDiv">
                    <div class="right">
                        <h5 class="white-text">Authors</h5>
                            <ul>
                                <li><a class="footerLink" href="https://github.com/yeungpirate">David Yeung</a></li>
                                <li><a class="footerLink" href="https://github.com/2juicy">Johnny C</a></li>
                                <li><a class="footerLink" href="https://github.com/nmclear">Nick Clear</a></li>
                                <li><a class="footerLink" href="https://github.com/nrvpatel03">Nirav Patel</a></li>
                            </ul>
                    </div>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <span class="left">© 2018 Copyright - Made in Irvine, CA</span>
                    <a class="footerLink right" href="https://github.com/Americone-Dream/seat_geek-project">GitHub Pages</a>
                 </div>
            </div>
        </footer>