<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Materialize: compiled css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<!-- stylesheet.css -->
	<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
	<title>Scrappy News</title>
</head>

<body>
	<div id="navDivFluid" class="container-fluid">
		<nav class="grey darken-3 white-text">
			<div class="nav-wrapper">
				<div class="brand-logo left">
					<a href="/" class="brand-logo">
						<h4 class="navHeaderLogo">Scrappy</h4>
					</a>
				</div>
				<ul class="right">
					<li class="nav-item">
						<a>SCRAPE NEW ARTICLES!</a>
					</li>
					<li class="nav-item">
						<a>CLEAR ARTICLES!</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	{{{ body }}}
	<!-- Google Jquery CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Materialize: compiled js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>

</html>