<h1 class='center red-text'>Check out the latest in gaming news</h1>
<hr>
{{#each articles}}
<div class="container">
    <h2>{{title}}</h2>
    <p>{{info}}</p>
    <img src="{{img}}" alt="No Image Found">
    <p>
        <a href="https://www.mmorpg.com{{link}}">
            <button class='hero-select btn btn-large waves-effect waves-light grey darken-3 white-text right'>Read More</button>
        </a>
    </p>
</div>
{{/each}}