.brand-logo {
  font-weight: bolder;
  margin-left: 1em;
}
.comments {
  font-size: 22px;
  font-style: italic;
}
.comtitle {
  font-size: 26px;
}
.break {
  max-width: 100%;
}
h2 {
  margin: 1rem 0 1rem 0;
}
#source {
  font-style: italic;
  text-decoration: underline;
}
